.container {    
    margin: 10px;
    border: 1px solid black;
    height: 1000px;
}

.div {
    display: inline-block;
    border: 2px solid black;
    width: 200px;
    height: 200px;
}

#div1 {
    background-color: green;
}
#div2 {
    background-color: red;
    /* relative to its normal position */
    /* position: relative; */
    top: 50px;
    left: 50px;

    /* position: absolute; */

    /* position: fixed; */

    /* position: sticky; */
}
#div3 {
    background-color: blue;

}
#div4 {
    background-color: yellow;
}

/* 
position: static (Default)
The default positioning for all HTML elements.
The top, right, bottom, and left properties have no effect on static elements. 


position:relative
The element is positioned relative to its normal position in the document flow.
The top, right, bottom, and left properties move the element relative to its original position.
The space it originally occupied is preserved.


position: absolute
The element is removed from the normal document flow.
It is positioned relative to the nearest positioned ancestor (an ancestor with position: relative, absolute, or fixed)If no such ancestor exists, it is positioned relative to the <html> element.
The top, right, bottom, and left properties determine its exact position.


position: fixed
The element is positioned like absolute to the viewport and does not move when the page is scrolled.
Commonly used for sticky headers, footers, or navigation bars.

position: sticky
The element toggles between relative and fixed, depending on the user's scroll position.
It acts as relative until a defined scroll position is reached, then it behaves as fixed.
Requires at least one of top, right, bottom, or left to be set.
*/