/* 
The CSS overflow property controls what happens to content that exceeds the size of its container. It helps manage how overflowing content is displayed, which is crucial for ensuring that layouts remain tidy and user-friendly.

overflow: visible (default)
Overflowing content is shown outside the box without any clipping. Not useful for layout management.

overflow: hidden
Causes overflowing content to be clipped and not visible. The content that exceeds the container's dimensions is not accessible.

overflow: scroll
Adds a scrollbar (horizontal, vertical, or both) to the container, allowing users to scroll to see the hidden content.The scrollbar is always visible, even if the content fits within the container.

overflow: auto
The browser decides whether to add scrollbars based on whether the content overflows or not. If it doesn’t overflow, no scrollbars will appear.

overflow: overflow-x and overflow-y
Provide control over horizontal and vertical overflow separately. You can set them to visible, hidden, scroll, or auto.
*/

.parent {  
    /* Its very important to set width and height of flex container */
    width: 200px;  
    height: 100px;  
    border: 1px solid #000;  
    padding: 10px; 

    /* overflow: visible; */

    /* overflow: hidden; */

    /* overflow: scroll; */

    /* overflow: auto; */

    overflow-x: scroll;
    overflow-y: visible;
}  
.child {  
    height: 150px; 
    background-color: #f0f0f0;  
} 