p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 21px;
    font-style: italic;
    font-weight: 700;
    width: 200px ;
    line-height: 40px;
    /* word-wrap: break-word;            toggle word wrap */
}

p.paraClass {
    /* Adding colors */
    /* background-color: aqua; */
    background-color: rgb(0, 0, 0);         /* rgb(red, green, blue)        */
    /* background-color: rgba(0,0,0,0.5);         rgb(red, green, blue, opacity)    */
    /* background-color: #69fdff;                rrggbbaa   (a = alpha value)    */

    /*  hsl(hue, saturation, lightness) 
    hue - degree on color wheel from 0 to 360. red means 0 or 360, green means 120, blue means 240
    saturation - saruration is described as intensity of color. It is percentage value from 0 to 100%
    lightness - 0% means no light(dark) given to color, 100% means full light */
    /* background-color: hsl(0, 100%, 0%);  */
    /* background-color: hsla(0, 100%, 50%, 0.632)      hsla(hue, saturation, lightness, alpha)   */
}