/* 
CSS transitions are used to change CSS property values from one state to another over a period of time. 
CSS transitions are used with pseudo-classes like :hover, :focus or JavaScript event triggers.
A CSS transition consists of four main components, which is shorthand property for following:

transition-property
Not all CSS properties can be transitioned. Common animatable properties include:
    Colors: color, background-color, border-color
    Dimensions: width, height, max-width, max-height
    Position: left, right, top, bottom
    Transforms: transform (e.g., rotate, scale, translate)
    Opacity: opacity
    Shadows: box-shadow, text-shadow
    all: apply the transition to all animatable properties changed inside pseudo classes
    none: disable transitions

transition-duration
Specifies how long the transition should take to complete. It is defined in seconds (s) or milliseconds (ms).

transition-timing-function
Defines the speed curve of the transition, determining how intermediate values are calculated. Common values include:
    ease: Slow start, then fast, then slow again (default).
    linear: Constant speed from start to end.
    ease-in: Slow start, then accelerates.
    ease-out: Starts quickly, then decelerates.
    ease-in-out: Slow start and end, faster in the middle.
    Cubic Bezier: Custom speed curve using control points (e.g., cubic-bezier(0.25, 0.1, 0.25, 1)).

transition-delay
This specifies how long to wait before starting the transition. It is defined in seconds (s) or milliseconds (ms).


// Best Practices for CSS Transitions
Keep It Simple: Avoid overloading transitions with too many properties.
Use for Subtle Effects: Transitions should enhance the user experience, not distract from it.
Minimize Performance Impact: Prefer animating properties like transform and opacity over width and height, as they perform better.
Fallbacks: Provide alternatives for browsers that do not support transitions.


// Shorthand
transition: [property] [duration] [timing-function] [delay];
*/


#blue-box:nth-child(1) {
    background-color: blue;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;

    /* apply transition to a specific property */
    /* transition-property: width; */
    
    /* applying transitions to all properties */
    /* transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.3s; */

    /* applying transition to multiple properties */
    transition: width 1s ease, height 2s ease;                 /*  WOW  */ 
}

#blue-box:hover {
    width: 1000px;
    height: 300px;
    background-color: green;
}